[Unit]
Description=clipster daemon
; Documentation=man:foo(1)

[Service]
Type=simple
; Type=forking
; ExecStart=$HOME/sources/clipster/clipster --daemon
ExecStart=%h/sources/clipster/clipster --daemon
# ExecStart=$HOME/sources/clipster/clipster --daemon
Restart=always
RestartSec=60
PIDFile=%h/.local/share/clipster/clipster.pid

[Install]
; WantedBy=multi-user.target
WantedBy=default.target
