[Unit]
Description=clipster daemon
; Documentation=man:foo(1)

[Service]
Type=simple
; Type=forking
; ExecStart=$HOME/sources/clipster/clipster --daemon
ExecStart=/home/fredriol/sources/clipster/clipster --daemon
Restart=always

[Install]
; WantedBy=multi-user.target
WantedBy=default.target
