[Unit]
Description=megasync
After=network.target

[Service]
Environment=DISPLAY=:0
ExecStart=/usr/bin/megasync
Restart=on-failure

[Install]
WantedBy=default.target
