[Unit]
Description=Clipster
After=

[Service]
Type=simple
ExecStart=/usr/bin/clipster
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
User=%I

[Install]
WantedBy=multi-user.target


# vim: set ft=conf:
