[submodule ".vim/bundle/YouCompleteMe"]
	path = .vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule ".vim/bundle/OblitumYouCompleteMe"]
	path = .vim/bundle/OblitumYouCompleteMe
	url = https://github.com/oblitum/YouCompleteMe.git
[submodule "/home/dev/.tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "sources/YCM-Generator"]
	path = sources/YCM-Generator
	url = https://github.com/rdnetto/YCM-Generator.git

#
# [submodule ".vim/bundle/ultisnips"]
# 	path = .vim/bundle/ultisnips
# 	url = https://github.com/SirVer/ultisnips.git
#
# [submodule ".vim/bundle/vim-snippets"]
# 	path = .vim/bundle/vim-snippets
# 	url = https://github.com/honza/vim-snippets.git
#
# [submodule ".vim/bundle/supertab"]
# 	path = .vim/bundle/supertab
# 	url = https://github.com/ervandew/supertab.git

[submodule "sources/gdb-dashboard"]
	path = sources/gdb-dashboard
	url = https://github.com/cyrus-and/gdb-dashboard.git
[submodule "sources/vim-plug"]
	path = sources/vim-plug
	url = https://github.com/junegunn/vim-plug.git
[submodule ".vim/bundle/color_coded"]
	path = .vim/bundle/color_coded
	url = https://github.com/jeaye/color_coded.git
[submodule "/home/spooky/.oh-my-zsh"]
	path = .oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
