[submodule "/home/dev/.tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "sources/gdb-dashboard"]
	path = sources/gdb-dashboard
	url = https://github.com/cyrus-and/gdb-dashboard.git
[submodule "sources/vim-plug"]
	path = sources/vim-plug
	url = https://github.com/junegunn/vim-plug.git
[submodule "/home/spooky/.oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "sources/YCM-Generator"]
	path = sources/YCM-Generator
	url = https://github.com/zpooky/YCM-Generator.git
[submodule "sources/libcxx-pretty-printers"]
	path = sources/libcxx-pretty-printers
	url = https://github.com/koutheir/libcxx-pretty-printers.git
[submodule "sources/fzf"]
	path = sources/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "sources/clipster"]
	path = sources/clipster
	url = https://github.com/zpooky/clipster.git
[submodule "sources/teamocil"]
	path = sources/teamocil
	url = https://github.com/zpooky/teamocil.git
[submodule "sources/zsh-autosuggestions"]
	path = sources/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "sources/zsh-completions"]
	path = sources/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "sources/tmux-prefix-highlight"]
	path = sources/tmux-prefix-highlight
	url = https://github.com/tmux-plugins/tmux-prefix-highlight
[submodule "sources/tmux-fingers"]
	path = sources/tmux-fingers
	url = https://github.com/Morantron/tmux-fingers
[submodule "sources/tmux-yank"]
	path = sources/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank.git
[submodule "sources/vim-tmux-navigator"]
	path = sources/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
