[submodule ".vim/bundle/-f"]
	path = .vim/bundle/vim-clang-format
	url = git@github.com:rhysd/vim-clang-format.git
[submodule ".vim/bundle/vim-clang-format"]
	path = .vim/bundle/vim-clang-format
	url = git@github.com:rhysd/vim-clang-format.git
[submodule ".vim/bundle/a.vim"]
	path = .vim/bundle/a.vim
	url = git@github.com:vim-scripts/a.vim.git
[submodule ".vim/bundle/neco-ghc"]
	path = .vim/bundle/neco-ghc
	url = git@github.com:eagletmt/neco-ghc.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = git@github.com:scrooloose/syntastic.git
[submodule ".vim/bundle/vim2hs"]
	path = .vim/bundle/vim2hs
	url = git@github.com:dag/vim2hs.git
[submodule ".vim/bundle/YouCompleteMe"]
	path = .vim/bundle/YouCompleteMe
	url = git@github.com:Valloric/YouCompleteMe.git
[submodule ".vim/bundle/taglist.vim"]
	path = .vim/bundle/taglist.vim
	url = git@github.com:vim-scripts/taglist.vim.git
