[Unit]
Requires=zfs-mount
After=zfs-mount

[Install]
WantedBy = default.target

# myjellyfin.container
[Container]
# AddDevice=/dev/dri/:/dev/dri/
AddDevice=/dev/dri/renderD128:/dev/dri/renderD128
AddDevice=/dev/dri/card0:/dev/dri/card0
# AddDevice=/dev/dri/card1:/dev/dri/card1
AutoUpdate=registry
ContainerName=myjellyfin
Image=docker.io/jellyfin/jellyfin:latest
PublishPort=8096:8096/tcp
User=1000
Group=1001
UserNS=keep-id
PodmanArgs=--group-add keep-groups
Volume=/tank-spooky/jellyfin-config:/config:z
Volume=/tank-spooky/jellyfin-cache:/cache:z
Volume=/tank-spooky/film:/film:ro,z
Volume=/tank-spooky/tv:/tv:ro,z
Volume=/tank-spooky/syncthing-data:/syncthing-data:ro,z
Environment=PUID=1000 PGID=1001 TZ=Etc/UTC
