[Unit]
Requires=zfs-mount
After=zfs-mount

[Install]
WantedBy = default.target

# kavita.container
[Container]
ContainerName=mykavita
Image=docker.io/jvmilazz0/kavita:latest
PublishPort=5000:5000
Volume=/tank-spooky/syncthing-data/sync-comic:/comics:ro
Volume=/tank-spooky/syncthing-data/sync-document:/books:ro
Volume=/tank-spooky/kavita-config:/kavita/config
AutoUpdate=registry
Environment=TZ=UTC
User=1000
Group=1001
UserNS=keep-id

[Service]
Restart=always
