[Unit]
Requires=zfs-mount
After=zfs-mount

[Install]
WantedBy = default.target

# kapowarr.container
[Container]
ContainerName=mykapowarr
Image=docker.io/mrcas/kapowarr:latest
PublishPort=5656:5656
Volume=/tank-spooky/kapowarr-db:/app/db
Volume=/tank-spooky/kapowarr-download:/app/temp_downloads
Volume=/tank-spooky/syncthing-data/sync-comic:/comics-1:ro
Environment=PUID=1000 PGID=1001 TZ=Etc/UTC
User=1000
Group=1001
# UserNS=keep-id
